<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<form action="Result" method="post">
    <p>Make: </p> <input type="text" name="Make" value="" required=""/>
    <p>Model: </p> <input type="text" name="Model" value="" required=""/>
    <p>Year: </p> <input type="number" name="Year" value="" required=""/>
    <p>Color: </p> <input type="text" name="Color" value="" required=""/>
    <input type="submit" value="Submit" />
</form>
